.a{
    height: 100px;
    width: 600px;
    background-color: #be0026;

    justify-content: center;
}
.b{
    height: 100px;
    width: 600px;
    background-color: #3c5aa3;
}
.c{
    height: 100px;
    width: 600px;
    background-color: #e2ae58;
}